* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media screen and (max-width: 480px) {
  body {
    box-sizing: border-box;
    background-color: #051b11; }
  header {
    width: 100%;
    height: 70px;
    background-color: #198754; }
  .logo {
    width: 35px;
    height: 40px;
    background-color: transparent; }
  .navegacion .cf {
    width: 100%;
    display: flex; }
  .navegacion .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 5px; }
    .navegacion .menu a {
      text-decoration: none;
      color: #051b11;
      margin: 5px;
      font-size: 0.75rem;
      font-family: "Libre Baskerville", serif; }
    .navegacion .menu li {
      margin: 5px auto;
      color: #051b11;
      list-style-type: none;
      font-size: 0.75rem;
      font-family: "Libre Baskerville", serif; }
    .navegacion .menu li i {
      margin-left: 10px; }
    .navegacion .menu .menu_i a {
      text-decoration: none;
      color: #051b11; }
    .navegacion .menu .menu_i:hover .submenu {
      display: flex;
      flex-direction: column; }
    .navegacion .menu .submenu {
      position: absolute;
      right: 1vw;
      background-color: red;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin-left: 5px; }
      .navegacion .menu .submenu .submenu_i {
        display: flex;
        color: #051b11; }
  .main-section {
    margin-top: 10px; }
    .main-section h1 {
      color: #336b38;
      font-size: 3rem;
      text-align: center; }
    .main-section .img-container {
      padding: 5px; }
      .main-section .img-container .growth {
        width: 90%;
        margin: 10px;
        background-color: #051b11; }
    .main-section .container {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      height: 100px; }
      .main-section .container h2 {
        margin-top: 10px;
        color: #336b38; }
      .main-section .container h2 span:hover {
        text-emphasis-color: green;
        transform: scale(1.2); }
      .main-section .container .row .col {
        height: auto;
        padding: 0;
        width: 100%;
        height: 200px;
        background-color: red; }
        .main-section .container .row .col .steps {
          width: 100%;
          height: 100%;
          background-color: transparent; } }
