* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  @import "./body";
  @import "./header";
  @import "./variables";

  .logo {
    width: 35px;
    height: 40px;
    background-color: transparent;
  }

  .navegacion {
    .cf {
      width: 100%;
      display: flex;
    }
    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: 5px;
      a {
        text-decoration: none;
        color: $secondColor;
        margin: 5px;
        @include setFont(buttons, mobile);
      }
      li {
        margin: 5px auto;
        color: $secondColor;
        list-style-type: none;
        @include setFont(buttons, mobile);
      }
      li i {
        margin-left: 10px;
      }
      .menu_i a {
        text-decoration: none;
        color: $secondColor;
      }
      .menu_i:hover .submenu {
        display: flex;
        flex-direction: column;
      }
      .submenu {
        position: absolute;
        right: 1vw;
        background-color: red;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-left: 5px;
        .submenu_i {
          display: flex;
          color: $secondColor;
        }
      }
    }
  }

  .main-section {
    margin-top: 10px;
    h1 {
      color: $mainColor;
      font-size: 3rem;
      text-align: center;
    }
    .img-container {
      padding: 5px;
      .growth {
        width: 90%;
        margin: 10px;
        background-color: $secondColor;
      }
    }

    .container {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      height: 100px;
      h2 {
        margin-top: 10px;
        color: $mainColor;
      }
      h2 span:hover {
        text-emphasis-color: green;
        transform: scale(1.2);
      }
      .row {
        .col { 
          height: auto;
          margin: 5px auto;
          width: 90%;
          height: 200px;
          background-color: red;
          .steps {
            width: 100%;
            height: 100%;
            background-color: transparent;
          }
        }
      }
    }
  }
}
